<!-- <app-admin-form-header titleFormHeaderName="Update Brand">
  <form class="mt-2" [formGroup]="updateBrandForm" (ngSubmit)="updateBrand()">
    <app-input
      [controlName]="getControl('name')"
      labelInputId="brandName"
      labelContent="Brand Name"
      inputType="text"
      inputTitle="This will be a Brand Name"
      placeHolder="Enter Brand Name"
    ></app-input>

    <app-input
      class="cursor-pointer"
      [controlName]="getControl('image')"
      labelInputId="brandImg"
      labelContent="Brand Image"
      inputType="file"
      inputTitle="This will be a Brand Image"
    ></app-input>

    <div class="mt-10">
      <app-button
        [form]="updateBrandForm"
        btnContent="Update Brand"
      ></app-button>
    </div>
  </form>
</app-admin-form-header> -->
