<div class="flex flex-col mb-4">
  <label [for]="labelSelectId" class="mb-1">{{ labelContent }}</label>
  <select
    [title]="selectTitle"
    [id]="labelSelectId"
    [formControl]="controlName"
    class="bg-gray-800 rounded p-2 outline-none border-2 border-amber-300"
  >
    <option value="" hidden>Choose Product Category</option>
    <option [value]="select.id" *ngFor="let select of selects">
      {{ select.catName }}
    </option>
  </select>

  <app-control-errors [control]="controlName"
    *ngIf="controlName?.invalid && (controlName?.dirty || controlName?.touched)"
  ></app-control-errors>
</div>
